modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "WebServer"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "WebServerReactNativeWeb"

[[workflows.workflow]]
name = "WebServer"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && npx react-native start --port 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "WebServerReactNativeWeb"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx webpack serve --mode development"
waitForPort = 5001

[deployment]
run = ["sh", "-c", "cd . && npx react-native start --port 5000"]

[[ports]]
localPort = 5001
externalPort = 80
